---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Shawn Renner" subtitle='Full Stack Software Developer located in Saint Louis, Missouri, USA.'>
	<main>
		<ul role="list" class="link-card-grid">
			<Card
				href="about/"
				title="About"
				body="A little about me"
			/>
			<Card
				href="/projectss"
				title="Projects"
				body="Software and other tech projects"
			/>
			<Card
				href="/notes"
				title="Dev Notes"
				body="Challenges and solutions"
			/>
			<Card
				href="/contact"
				title="Get In Touch"
				body="Find out how to reach me"
			/>
		</ul>
	</main>
</Layout>

<style>
</style>
