---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Shawn Renner" subtitle="Notes">
	<main>
		<div class="page-content">
			Blog style content here
		</div>
		
	</main>
</Layout>

<style>
	
</style>
