---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Shawn Renner" subtitle="Tech Projects">
	<main>
		<div class="page-content">
			Project list here
		</div>
		
	</main>
</Layout>

<style>
	
</style>
