<div id="container">
  <main>
    <div class="px-4 py-5 my-5 text-center">
      <img
        class="d-block mx-auto mb-4"
        src="/shawnrenner.jpg"
        alt="Shawn Renner"
        width="160"
        height="160"
      />
      <h1 class="display-5 fw-bold text-body-emphasis">Shawn Renner</h1>
      <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">
				I am an experienced full stack software developer in the Saint Louis, Missouri area.
				<br>
				You can <a href="shawn-renner.pdf">download my resume here.</a> Phone calls by appointment.
          
          <div id="tags">
            <span class="badge rounded-pill bg-dark text-bg-dark"
              >.NET</span
            >
            <span class="badge rounded-pill bg-dark text-bg-dark"
              >JavaScript</span
            >
            <span class="badge rounded-pill bg-dark text-bg-dark"
              >SQL</span
            >
            <span class="badge rounded-pill bg-dark text-bg-dark"
              >DevOps</span
            >
          </div>
        </p>

        <div id="links" class="m-4">
          <a href="https://linkedin.com/in/shawnrenner" class="m-1">
            <img src="/linkedin.svg" width="36" height="36" />
          </a>

          <a href="https://github.com/srenner" class="m-1">
            <img src="/github.svg" width="36" height="36" />
          </a>
        </div>

      </div>
    </div>
  </main>
</div>

<style>
  a {
    text-decoration: none;
  }
</style>
