---
interface Props {
	title: string;
	subtitle: string;
}

const { title } = Astro.props;
const { subtitle } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<h1 class="text-gradient"><a href="/">{title}</a></h1>
		<div class="main-container">
			<svg version="1.0" xmlns="http://www.w3.org/2000/svg"
				width="1408.000000pt" height="1408.000000pt" viewBox="0 0 1408.000000 1408.000000"
				preserveAspectRatio="xMidYMid meet" class="logo-watermark">
				<metadata>
				Created by potrace 1.14, written by Peter Selinger 2001-2017
				</metadata>
				<g transform="translate(0.000000,1408.000000) scale(0.100000,-0.100000)"
				fill="#000000" stroke="none">
				<path d="M5629 12392 l-1406 -1407 1 -1386 1 -1387 583 -583 c320 -320 582
				-585 582 -589 0 -4 -262 -269 -582 -590 l-583 -582 0 -1388 -1 -1387 1408
				-1408 1408 -1408 1408 1409 1409 1409 -1 1387 -1 1386 -582 583 c-321 320
				-583 585 -583 589 0 3 262 269 583 590 l583 583 0 1387 -1 1388 -1406 1406
				c-773 773 -1408 1406 -1410 1406 -2 -1 -637 -634 -1410 -1408z m2567 -471
				l1149 -1149 -1 -1174 0 -1173 -509 -507 c-279 -280 -511 -508 -515 -508 -4 0
				-236 229 -516 509 l-509 509 0 1224 0 1223 -25 2 c-29 3 -104 4 -116 2 -5 -1
				-12 -1 -16 1 -17 4 -99 3 -103 -2 -3 -3 -25 -2 -49 2 -23 3 -51 3 -62 0 -10
				-4 -30 -4 -44 -1 -14 4 -41 4 -61 1 l-35 -5 0 -1332 1 -1331 1280 -1280 1280
				-1280 0 -1172 -1 -1172 -1148 -1149 c-632 -632 -1152 -1149 -1156 -1149 -4 0
				-524 516 -1155 1148 l-1149 1147 -1 1155 c0 635 2 1166 6 1180 6 23 1003 1030
				1019 1030 4 0 236 -229 516 -509 l508 -508 0 -1224 1 -1224 25 -2 c29 -3 104
				-4 116 -2 5 1 12 1 17 -1 16 -4 98 -3 102 2 3 3 25 2 49 -2 23 -3 51 -3 62 0
				10 4 30 4 44 1 14 -4 41 -4 61 -1 l35 5 0 1332 -1 1331 -1280 1280 -1280 1280
				1 1174 1 1173 1144 1146 c629 630 1149 1147 1155 1148 6 0 528 -516 1160
				-1148z"/>
				</g>
			</svg>
			<p class="subtitle">{subtitle}</p>
			<slot />
		</div>
	</body>
</html>
<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		font-family: system-ui, sans-serif;
		background: #13151a;
		background-size: 224px;
	}
	.main-container {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	.logo-watermark {
		position: absolute;
		top: 5px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 0.5em;
	}

	h1 a {
		text-decoration: none;
	}

	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.subtitle {

		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
		padding: 1.5rem;
		border-radius: 8px;
		text-align: center;
	}
	.instructions code {
		font-size: 0.8em;
		font-weight: bold;
		background: rgba(var(--accent-light), 12%);
		color: rgb(var(--accent-light));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
	.instructions strong {
		color: rgb(var(--accent-light));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>
